<nav class="navbar navbar-dark bg-primary">

  <div class="nav navbar-nav">
    <a href="#" class="nav-item nav-link" [class.active]="aba == 'home'" (click)="aba = 'home'">Home</a>
    <a href="#" class="nav-item nav-link" [class.active]="aba == 'features'" (click)="aba = 'features'">Features</a>
    <a href="#" class="nav-item nav-link" [class.active]="aba == 'pricing'" (click)="aba = 'pricing'">Pricing</a>
  </div>

</nav>

<div class="container" [ngSwitch]="aba">
  <div *ngSwitchCase="'features'">modo features ativado</div>
  <div *ngSwitchCase="'pricing'">modo pricing ativado</div>
  <div *ngSwitchDefault>modo home ativado</div>
</div>

<div class="container" [ngSwitch]="aba">
  <template [ngSwitchCase]="'features'">
    <p>modo features ativado</p>
  </template>

  <template [ngSwitchCase]="'pricing'">
    <p>modo pricing ativado</p>
  </template>
<!--
  <template [ngSwitchCase]="'home'" ngSwitchDefault>
    <p>modo home ativado</p>
  </template>
-->

  <template ngSwitchDefault>
    <p>modo home ativado</p>
  </template>
</div>